@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800&display=swap');


a{
    cursor: none;
}

body{
    cursor: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    width: 100vw;
   
}

.imgP{
    width: 100vw;
}

.imgFinPdp{
    height: min-content;
    width: 100vw;
    background-image: url(../image/finpdp.png);
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.backTop{
    background-repeat: no-repeat;
    background-size: cover;
    height: 33.7vw;
    width: 100vw;
}

h3{
    font-weight: 400;
    margin-left: 10vw;
    margin-top: 30px;
    font-size: 1.2vw;
}

.mouse{
    position: absolute;
    height: 90px;
    width: 90px;
    border: solid 2px #f1a242;
    border-radius: 50%;
    z-index: 20;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%); 
    transition: 0.09s;
    pointer-events: none;
    opacity: 0;
}

.click{
    height: 5px;
    width: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.11s;
    position: absolute;
    z-index: 20;
    opacity: 0;
  
    pointer-events: none;
}

@keyframes clickDown {
    from{
        transform: scale(1) translate(-50%, -50%);
    }
    50%{
        transform: scale(0.85) translate(-59%, -59%);
    }
    to{
        transform: scale(1) translate(-50%, -50%);
        
    }

}

.pdp{
    width: 100%;
    border: solid black 1px;
    max-height: 250px;
    margin-bottom: -10px;
}

.btn{
    margin-left: 40px;
    padding: 10px;
    padding-right: 5vw;
    border: solid #f1a242 1px;
    text-decoration: none;
    color: black;
    position: absolute;
    border-radius: 3px;
    transition: 0.1s 0.2s ease;
    overflow: hidden;

}

.btn:hover::after{
    transform: scaleX(100%);
}

.btn:hover{
    color: white;

}

.btn::after{
    content: "";
    position: absolute;
    display: block;
    height: 400%;
    width: 130%;
    background-image: linear-gradient(110deg,#f1a242, #f3c791, #f1a242 );
    bottom: -150%;
    margin-left: -30%;
    border: solid #f1a242 1px;
    transition: 0.8s 0.1s ease;
    transform: scaleX(0%);
    transform-origin: left;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;
}
