.containerPdp{
    height: 125vh;
    width: 100vw;
    background-image: url(../image/backBoutique.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    display: flex;
}

.card{
    height: 85vh;
    width: 25vw;
    background: white;
    margin-top: 28.5vh;
    margin-left: 2.5vw;
    border: solid #f1a242 2px ;
    overflow: hidden;

}

.card1{
    margin-left: 10vw;
}

.cardTop{
    height: 75%;
    z-index: 20;
    background-color: white;
    mix-blend-mode: normal;
    z-index: 5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.cardBottom{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.txtPdp{
    position: absolute;
    font-weight: 800;
    font-size: 2.1vw;
    color: #000000;
    margin-left: 3vw;
    transform-origin: bottom;
    transition: 0.1s 0.20s ease;
}

.card::before{
    content: "";
    display: block;
    background-color: #f1a242;
    width: 25vw;
    height: 85vh;
    position: absolute;
    transform-origin: bottom;
    transform: scaleY(0%);
    transition: transform 0.6s 0.1s ease;
    clip-path: ellipse(90% 100% at 50% 100%);
    border: #f1a242 solid 1px;
}

.card:hover::before{
    transform: scaleY(30%);
}

.card:hover .txtPdp{
    color: rgb(255, 255, 255);
}

/*TODO attention ici au background size*/
.cardTop1{
    background-image: url(../image/equipe.png);
    background-size: 110%
}

.cardTop2{
    background-image: url(../image/collection.png);
}

.cardTop3{
    background-image: url(../image/ado.png);
}









