h3{
    font-weight: 400;
    margin-left: 10vw;
    margin-top: 30px;
    font-size: 1.2vw;
}

h1{
    color: #f1a242;
    margin-left: 40px;
    font-size: 2.8vw;
    font-weight: 600;
    
}

.containerValeur{
    width: 80vw;
    margin-left: 10vw;
    display: flex;

}

.containerImg{
    display: flex;
    flex-direction: column;
    width: 32%;
}

.containerRight{
    width: 68%;
    position: relative;
}

img{
    object-fit: cover;
    object-position: center;
}

.imgLeft{
    width: 100%;
    margin-top: 13px;
}

p{
    margin-left: 40px;
    font-size: 1.25vw;
}

.btn{
    position: absolute;
    bottom: 10px;
}

